<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>送信が完了しました</h1><br>

      <p>内容は以下の通りです。</p>

      <h5>[タイトル]</h5>
      <p class="font-weight-bold mb-4"><%= @title %></p>

      <h5>[本文]</h5>
      <p class="font-weight-bold"><%= @body %></p>
    </div>
  </div>
</div>